@import "./assets/stylesheets/reset.scss";
@import "./assets/stylesheets/vars.scss";

/*=======Scroll bar=======*/
::-webkit-scrollbar {
  width: 10px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}
